@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid #eBeBeB;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

nav .nav-links{
  display: flex;
  gap: 16px;
  color: #000;
}

nav .nav-links a{
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav .nav-links a:hover{
  color: #000;
}
